.wrapper {
    display: grid;
    width: 850px;
    margin: 0 auto;
    grid-template-columns: 328px 512PX;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.wrapper>div {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 9px;
}

.aboutPageName {
    display: grid;
    grid-template-columns: 1fr;

}

.pageFeed {
    grid-row: 1 / span 2;
    grid-column: 2 ;
}

.feedProfileInfo {
    display: grid;
    grid-template-columns: .2fr 2fr;
    grid-auto-rows: 50px;
}


.feedProfileName {
    align-self: center;
}

.feedProfileImage {
    background-color: #4a5b9e;
    height: 333px;
    background-image: url('./img/share.png');
    background-size: contain;
}

.likeCommentShare a {
    text-decoration: none;
    font-size: 14px;
    padding: 3px;
}

/* About section left second row */

.aboutLocationPhone {
    display: grid;
    grid-template-columns: 1fr;
}

/* SECOND FEED */

.pageFeedSecond {
   height: 136px;
}
#datePageNames {
    font-size: 14px;
    color: #bbbbbb;
}
.feed{
    border-bottom: 1px solid #bbbbbb;
    padding: 0 0 12px 0;
    margin-bottom: 8px;
}

/* gallery section */
.gallery{
    grid-row: 4 / span 2;
    grid-column: 1 / span 1;
}
.nested{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 90px;
    grid-gap: 5px;  
}
