body {
    display: block;
    margin: 0;
    color: white;
    background: #c7cace;
}

header {
    margin: 0 auto;
    height: 250px;
    width: 850px;
    /* background-color: blue; */
    background-image: url('./img/quote.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;


}

.profilePic {
    position: relative;
    top: 149px;
    width: 150px;
    height: 150px;
    /* border: 1px solid black; */
    /* background-color: darkgrey; */
    background-image: url('./img/avatar.png');
    background-size: cover;
    margin-left: 20px;

}

aside {
    position: relative;
    left: 192px;
    font-size: 20px;
}

button {
    cursor: pointer;
}

.website a {
    color: beige;
    text-decoration: none;
    position: absolute;
    top: 40px;
}


.likeFollowMessage {
    margin-left: 404px;
    position: absolute;
    top: 36px;
}
.fa-caret-down:before {
     padding-left: 4px !important;
}

.likeFollowMessage button {
    font-size: 13px;
}

nav {
    margin: 0 auto;
    width: 850px;
    background: white;
    height: 50px;
    color: lightsteelblue;
    margin-bottom: 20px;
}

.menuItems {
    text-align: center;
    position: absolute;
    margin-top: 15px;
    margin-left: 184px;
}

.menuItems li {
    display: inline;
    color: #2d2c2c;
    padding-right: 20px;
}

li {
    list-style-type: none;
}

.welcome {
    border-left: 2px solid #EFEFEF;

}

.active,
.btn:hover {
    text-decoration: underline;
    font-weight: bold;
}


/* about page name section */
.pageNameDescription {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    margin-top: 20px;
}

.link {
    margin-right: 10px;
}

/* page feed */
#datePageName {
    font-size: 14px;
    color: #bbbbbb;
}
.feedProfileimg{
    background-image: url('./img/avatar.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.fa-globe-asia:before {
    margin-left: 7px !important;
}

/* About section left second row */
.aboutTitle {
    font-size: 14px;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 9px;

}

.greater {
    color: #d3d3d3;
    float: right;
}

.location {
    border-bottom: 1px solid #D3D3D3;
    padding-bottom: 9px;

}

.locationMarker {
    font-size: 12px;
}

.addressYour {
    font-size: 16px;
    text-align: left;
}

.cityState {
    margin-left: 16px;
    font-weight: 200 !important;
    color: lightslategrey;
    font-size: 17px;
}
.phone{
    margin-right: 5px;
}

/* app section */
.appTitles{
    padding-bottom: 5px;

}
.appImg{
    border-top:1px solid #D3D3D3;
}
.appTitlesImg {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: #4a5b9e;
    margin-top: 4px;
}

.welcomeSpan {
    position: relative;
    bottom: 35px;
    height: 100px;
    font-weight: bold;
}
.box {
    background-color: #444;
    color: #fff;
    padding: 20px;
    font-size: 150%;
}


.p1 ,.app1{
    background-image: url('./img/Screen\ Shot\ 2019-08-17\ at\ 2.45.37\ AM.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}
.p2, .app2{
    background-image: url('./img/Screen\ Shot\ 2019-08-17\ at\ 2.45.52\ AM.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.p3, .app3{
    background-image: url('./img/Screen\ Shot\ 2019-08-17\ at\ 2.47.29\ AM.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.p4{
    background-image: url('./img/Screen\ Shot\ 2019-08-17\ at\ 2.47.49\ AM.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.p5{
    background-image: url('./img/avatar.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.p6{
    background-image: url('./img/Screen\ Shot\ 2019-08-17\ at\ 2.55.31\ AM.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.p7{
    background-image: url('./img/Screen\ Shot\ 2019-08-17\ at\ 2.55.42\ AM.png');
    background-size: cover;
    background-repeat: no-repeat;
}
