body {
    display: block;
    margin: 0;
    color: white;
    background: #c7cace;
}

header {
    margin: 0 auto;
    height: 250px;
    width: 850px;
    background-color: blue;
}

main {
    margin: 0 auto;
    width: 850px;
}

.profilePic {
    position: relative;
    top: 130px;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: darkgrey;
    margin-left: 20px;

}

aside {
    position: relative;
    left: 192px;
    font-size: 20px;
}

button {
    cursor: pointer;
}

.website a {
    color: beige;
    text-decoration: none;
    position: absolute;
    top: 40px;
}


.likeFollowMessage {
    margin-left: 276px;
    position: absolute;
    top: 36px;
}

.likeFollowMessage button {
    font-size: 1rem;
}

nav {
    margin: 0 auto;
    width: 850px;
    background: white;
    height: 50px;
    color: lightsteelblue;
    margin-bottom: 20px;
}

.menuItems {
    text-align: center;
    position: absolute;
    margin-top: 15px;
    margin-left: 184px;
}

.menuItems li {
    display: inline;
    color: #2d2c2c;
    padding-right: 20px;
}

li {
    list-style-type: none;
}

.welcome {
    border-left: 2px solid #EFEFEF;

}

.active,
.btn:hover {
    text-decoration: underline;
    font-weight: bold;
}

.grid-container {
    margin: 0 auto;
    width: 850px;
    display: grid;
    grid-template-columns: 328px 512px;
    grid-column-gap: 10px;
    grid-auto-rows: minmax(auto, auto)
}

.grid-item {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
    padding-left: 5px;
}


.aboutPage {
    text-align: initial;
    color: black;
    font-size: 16px;
}

.aboutPageName p {
    font-size: 12px;
    text-align: initial;

}

.fas {
    margin-right: 20px;
}

.aboutTitle {
    text-align: initial;
    padding-bottom: 8px;
    font-size: 16px;
    border-bottom: .5px solid #d3d3d3;

}

.greater {
    color: #d3d3d3;
    margin-left: 230px;
}

.locationMarker {
    font-size: 12px;

}

.addressYour {
    font-size: 16px;
    text-align: left;
}

.cityState {
    margin-left: 38px;
    font-weight: 200 !important;
    color: lightslategrey;
}

.appTitles {
    padding-bottom: 5px;
}

.appTitlesImg {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: #4a5b9e;
}

.welcomeSpan {
    position: relative;
    bottom: 35px;
    height: 100px;
    font-weight: bold;
}


.grid-item1 {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 5px;
    padding-left: 5px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 7px;
}


.pageName {
    margin-top: 13px;
    position: absolute;
    padding-left: 12px;
}

#datePageName {
    position: absolute;
    top: 6px;
    left: 17px;
    width: 100%;
    font-size: 14px;
    color: #bbbbbb;
}

.pageDescription {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.likeCommentShare a {
    text-decoration: none;
    font-size: 14px;
    position: relative;
    bottom: 9px;
}

#datePageNames {
    position: absolute;
    top: 6px;
    left: 17px;
    width: 100%;
    font-size: 14px;
    color: #bbbbbb;
}

.greater2 {
    color: #d3d3d3;
    float: right;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
grid-template-rows: 100px 100px 100px;

}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}